$FONT:'Source Sans Pro', sans-serif;

//General Styling Below

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

audio,canvas,video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-family: $FONT;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

a:focus {
    outline: thin dotted
}

a:active,a:hover {
    outline: 0
}

h1 {
    font-size: 2em
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

mark {
    background: #ff0;
    color: #000
}

code,kbd,pre,samp {
    font-family: $FONT;
    font-size: 1em
}

pre {
    white-space: pre-wrap
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em}sub{bottom:-.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid silver
}

legend {
    border: 0;
    padding: 0
}

button,input,select,textarea {
    font-family: $FONT;
    font-size: 100%;
    margin: 0
}

button,input {
    line-height: normal
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body,html {
    text-align: left;
    font-size: 1em;
    z-index: 1
}

body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,html,img,input,li,ol,p,pre,textarea,ul {
    margin: 0;
    padding: 0
}

li,ul {
    list-style: none
}

a {
    text-decoration: none;
    font-weight: 400;
    font-family: $FONT;
    img {
        border: none;
    }
}

:active,:focus {
    outline: 0;
    -moz-outline-style: none
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

div.clear {
    clear: both
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden
}

//Navbar styling below

.navbar-default {
    position: fixed;
    width: 100%;
    z-index: 1;
    border-radius: 0;
    background-color: #ffffff;
    font-family: $FONT;
    .collapsed {
        text-decoration: none;
            padding: 0;
            border: none;
            box-shadow: none;
        .navtoggleimg {
            height: auto;
            width: 40px;
            text-decoration: none;
        }
    }
    .navtoggleimg {
        height: auto;
        width: 30px;
        text-decoration: none;
        padding: 0;
        border: none;
        box-shadow: none;
    }
    .navbar-brand {
        padding: 0px 15px;
        margin-top: 2vh;
        font-size: 20px;
        color: #265b7d;
        height: 100%;
    }
    .navbar-collapse {
        background-color: #ffffff;
        width: 50%;
        float: right;
        .navbar-li {
            a {
                padding: 0px 15px;
                margin-top: 2vh;
                font-size: 16px;
                color: #265b7d;
            }
        }
    }
}

// home-page styling below

//styling below is for kickstarter section
.kickstarter {
    height: 125vh;
    background-color: #27285a;
    background: url(../img/group.jpg) no-repeat center center;
    background-size: cover;

    .overlay {
        background-color: rgba(0,0,0,0.65);
        height: 125vh;
    }
    .share_box{
        position:fixed;
        width:50px;
        top:50px;
        padding:15px;
        a:hover {
            text-decoration: none;
        }
        z-index: 1;
        .button {
            border-radius: 10px;
            text-align: center;
            margin: 10px;
            width: 160px;
            font-family: "Arial Black", Gadget, sans-serif;
        }
        .ksbutton {
            color: #343433;
            background-color: #ffffff;
            border: 2px #70a83b solid;
           // background: linear-gradient(#343433, #343433);
            span {
                color: #70a83b;
            }
        }
        // NOT USED
        // .twitbutton {
        //     background-color: #E7F2FA;
        //     border: 2px #77bae8 solid;
        //     background: linear-gradient(#E7F2FA, #77bae8);
        //     img {
        //         width: 30px;
        //         height: auto;
        //         float: left;
        //         padding-top: 5px;
        //     }
        //     p {
        //         color: #348FD0;
        //     }
        //     h4 {
        //         color: #ffffff;
        //     }
        // }
    }

    .container {
        padding-top: 38vh;
        font-family: $FONT;
        text-align: center;
        text-decoration: none;
        h1 {
            font-size: 4.4vmax;
            color: #ffffff;
            padding-bottom: 10px;
        }
        h3 {
            font-size: 1.75vmax;
            font-weight: 300;
            color: #ffffff;
            padding-top: 10px;
            padding-bottom: 10px;
            letter-spacing: 1px;
        }
        a {
            margin-top: 20px; 
            margin-bottom: 20px;
            padding-top: 20px;
            font-weight: 300;
            color: #ffffff;
            button {
                   border: 1px solid #888;
                   background: #0776C0;
                   padding: 6.5px 18px 11px;
                   -webkit-border-radius: 6px;
                   -moz-border-radius: 6px;
                   border-radius: 3px;
                   text-shadow: #000000 0 1px 0;
                   color: #ffffff;
                   font-size: 2vmax;
                   font-family: $FONT;
                   text-decoration: none;
                   vertical-align: middle;
                   margin-top: 2%;
            }
            button:hover {
               border: 1px solid #0a3c59;
               text-shadow: #1e4158 0 1px 0;
               background: #3e779d;
               color: #fff;
            }
            button:active {
               text-shadow: #1e4158 0 1px 0;
               border: 1px solid #0a3c59;
               background: #65a9d7;
               color: #fff;
            }
        }
        p {
            font-size: 1.4vmax;
            margin-top: 20px; 
            padding-bottom: 20px;
            font-weight: 300;
            margin-right: 10%;
            margin-left: 10%;
            color: #ffffff;
            letter-spacing: 2.5px;
        }
        div {
            display: inline-block;
            margin-top: 0.5em;
            margin-right: auto;
            margin-left: auto;
            div {
                margin-right: 1vw;
                p {
                    font-size: 1.5vmax;
                    display: inline-block;
                    margin: 0 5px 0 0;
                    padding: 0;
                    font-weight: bold;
                    padding-bottom: 5px;
                }
                a {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    #twitterlogo {
                        height: 30px;
                        margin-right: 10px;
                    }
                    #facebooklogo {
                        height: 30px;
                        margin-right: 15px;
                    }
                }
            }
        }
    }

}


//styling below is for bounce feature
@-webkit-keyframes bounce {
    from, to  {
      bottom: 0;
      -webkit-animation-timing-function: ease-out;
    }
    50% {
      bottom: 20px;
      -webkit-animation-timing-function: ease-in;
    }
  }
  @keyframes bounce {
    from, to  {
      botttom: 0;
      animation-timing-function: ease-out;
    }
    50% {
      bottom: 20px;
      animation-timing-function: ease-in;
    }
  }

.home-page {
    // landing page starts here
    .hireUs {
        float: right;
        img {
            width: 25vw;
            height: auto;
        }
    }
    //Tagline has been taken out
    .tagline {
        font-family: $FONT;
        background-color: #265b7d;
        .tagline_container.container {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            padding-top: 12vw;
            padding-bottom: 15vw;
            img {
                margin-left: 18%;
                width: 20%;
                height: auto;
                padding-bottom: 15px;
                text-shadow: 2px 2px 0px rgba(150, 150, 150, 1);
            }
            h1 {
                padding: 10px 0 20px;
                font-size: 4vw;
                color: #fff;
                font-weight: 400;
                letter-spacing: 5px;
            }
            p {
                margin-top: 20px;
                font-family: $FONT;
                color: #fff;
                font-size: 2vw;
                font-weight: 400;
                letter-spacing: 0.8px;
            }
            .outer {
                position: relative;
                top: 9.5vw;
                left: 47%;
                .bouncing {
                    position: absolute;
                    -webkit-animation-name: bounce;
                    -webkit-animation-iteration-count: infinite;
                    -webkit-animation-duration: 2s;
                    animation-name: bounce;
                    animation-iteration-count: infinite;
                    animation-duration: 2s;
                    .glyphicon {
                        color: #ffffff;
                        font-size: 5vw;
                    }
                }
            }
        }
    }
    //===================================
    //picture of team goes here.
    .team {
        font-family: $FONT;
        background: url(../img/group.jpg) no-repeat center center;
        background-size: cover;
        height: 110vh;
        .team-region {
            *zoom: 1;
            text-align: center;
            padding-top: 60vh;
            padding-bottom: 30vh;
            .heading {
                .heading-text-container {
                    background: rgba(0,0,0,0.7);
                    display: inline-block;
                    padding-top: 0.2%;
                    padding-bottom: 0.2%;
                    padding-right: 1%;
                    padding-left: 1%;
                    margin-top: -3%;
                }
                *zoom: 1;
                h1 {
                    font-align: center;
                    color: #1C9099;
                    font-weight: 400;
                    font-size: 3vw;
                }
            }
        }
          .outer {
                position: relative;
                top: 20vw;
                left: 47%;
                .bouncing {
                    position: absolute;
                    -webkit-animation-name: bounce;
                    -webkit-animation-iteration-count: infinite;
                    -webkit-animation-duration: 2s;
                    animation-name: bounce;
                    animation-iteration-count: infinite;
                    animation-duration: 2s;
                    .glyphicon {
                        color: #ffffff;
                        font-size: 5vw;
                    }
                }
            }
    }
    // about us section starts here
    .about-list {
        font-family: $FONT;
        .aboutlist_container {
            height: 100vh;
            *zoom: 1;
            display: block;
            margin: 0 auto;
            p {
                color: #888;
                font-size: 1em;
                font-weight: 400;
                line-height: 2.3em;
                text-align: justify;
                a {
                    color: #78b7bb;
                }
            }
            h4 {
                color: #484652;
                font-weight: bold;
                font-size: 1.5em;
            }
            img {
                width: 45px;
                height: auto;
                display: block;
                float: left;
                margin-right: 10px;
            }
            .container {
                margin-top: 5%;
                *zoom: 1;
                .triptych {
                    padding: 0vw 2.5vw 2vw;
                        p {
                            padding-top: 5%;
                        }
                        #topOne {

                        }
                        #topTwo {
                        }
                        #topThree {
                        }
                }
            }
            .h4-givebBackToTheCommunity {
                font-weight: bold;
                padding-bottom: 5px;
            }
        }
    }
    //branch logos section here
    .brands {
        font-family: $FONT;
        background-color: #78b7bb;
        .logo-region {
            margin: 0 auto;
            padding: 100px 0 50px;
            .brand-logos {
                .hapi {
                    img {
                        width: 100px;
                        height: auto;
                        padding-bottom: 50px;
                    }
                }
                .javascript {
                    img {
                        width: 100px;
                        height: auto;
                        padding-bottom: 50px;
                    }
                }
                .nodejs {
                    img {
                        width: 100px;
                        height: auto;
                        padding-bottom: 50px;
                    }
                }
                .sass {
                    img {
                        width: 100px;
                        height: auto;
                        padding-bottom: 50px;
                    }
                }
                .d3 {
                    img {
                        width: 100px;
                        height: auto;
                        padding-bottom: 50px;
                    }
                }
                .ctu {
                    img {
                        width: 100px;
                        height: auto;
                        padding-bottom: 50px;
                    }
                }
            }
        }
    }
}

//CONTACT US HERE
.contact {
    font-family: $FONT;
    background-color: #282732;
    .contact-region {
        text-align: center;
        padding: 75px 0;
        .container {
        width: 80%;
            max-width: 1000px;
            margin: 0 auto;
        }
        h1 {
            color: #fff;
            font-size: 2em;
            padding-bottom: 5px;
            font-weight: 400;
        }
        h3 {
            color: #6FC9D0;
            font-size: 1.5em;
            font-weight: 300;
            font-family: $FONT;
            line-height: 1.2;
        }
        hr {
            width: 25%;
        }
        p {
            color: #FFF;
            font-size: 1.2em;
            font-family: $FONT;
            letter-spacing: 2px;
        }
        img {
            width: 50px;
            height: auto;
            margin: 10px;
        }
    }
}


//PROCESS PAGE STARTS HERE!

.process-page {
    font-family: $FONT;
    .process-heading {
        height: 100%;
        background: #27285a;
        .row {
            padding-top: 10vw;
            text-align: center;
            h1 {
            font-size: 60px;
            font-weight: 400;
            color: #fff;
            padding-bottom: 1em;
            }
            h2 {
            font-weight: 300;
            color: #78b7bb;
            padding-top: 0;
            font-size: 22px;
            font-family: $FONT;

            }
            img {
                margin-top: 5vw;
                margin-bottom: 5vw;
                width: 60%;
                height: 60%;
                ;
            }
        }
    }
    .step-one {
        height: 100%;
        background-color: #75ad74;
        width: 100%;
        text-align: center;
        .text {
            margin-top: 12vw;
        }
        h1 {
            font-size: 40px;
            font-weight: 400;
            color: #fff;
            text-align: center;
        }
        p {
            margin-top: 2vw;
            margin-bottom: 12vw;
            font-size: 18px;
            font-weight: 400;
            line-height: 2;
            color: #d3ceea;
            text-align: center;
            color: #F7F2E0;
            font-weight: 300;
            font-family: $FONT;
        }
        img {
            width: 100%;
            margin: 5vw;
            margin-top: 13em;
        }
    }
    .step-two {
        height: 100%;
        background-color: #006b68;
        padding-bottom: 40px;
        h1 {
            margin-top: 5vw;
            font-size: 40px;
            font-weight: 400;
            color: #75ad74;
            text-align: center;
            padding-bottom: 20px;
        }
        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 2;
            color: #F7F2E0;
            text-align: center;
            font-weight: 300;
        }
        .mentor-wrapper {
            height: 285px;
            img {
                min-width: 100%;
                min-height: 100%;
            }
        }
        
    }
}
