$FONT:'Source Sans Pro', sans-serif;

//General Styling Below

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

audio,canvas,video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-family: $FONT;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

a:focus {
    outline: thin dotted
}

a:active,a:hover {
    outline: 0
}

h1 {
    font-size: 2em
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

mark {
    background: #ff0;
    color: #000
}

code,kbd,pre,samp {
    font-family: $FONT;
    font-size: 1em
}

pre {
    white-space: pre-wrap
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em}sub{bottom:-.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid silver
}

legend {
    border: 0;
    padding: 0
}

button,input,select,textarea {
    font-family: $FONT;
    font-size: 100%;
    margin: 0
}

button,input {
    line-height: normal
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body,html {
    text-align: left;
    font-size: 1em;
    overflow-x: hidden;
    z-index: 1
}

body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,html,img,input,li,ol,p,pre,textarea,ul {
    margin: 0;
    padding: 0
}

li,ul {
    list-style: none
}

a {
    text-decoration: none;
    font-weight: 400;
    font-family: $FONT;
    img {
        border: none;
    }
}

:active,:focus {
    outline: 0;
    -moz-outline-style: none
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

div.clear {
    clear: both
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden
}

.animating-in {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000
}

.sliding-in-left {
    position: absolute;
    left: 100%;
    top: 0
}

.sliding-in-right {
    position: absolute;
    left: -100%;
    top: 0
}

.sliding-out {
    position: relative;
    top: 0;
    left: 0
}

.content-sliding {
    overflow-x: hidden
}

//Navbar styling below

.navbar-default {
    position: fixed;
    width: 100%;
    z-index: 1;
}

// home-page styling below

@-webkit-keyframes bounce {
    from, to  {
      bottom: 0;
      -webkit-animation-timing-function: ease-out;
    }
    50% {
      bottom: 20px;
      -webkit-animation-timing-function: ease-in;
    }
  }
  @keyframes bounce {
    from, to  {
      botttom: 0;
      animation-timing-function: ease-out;
    }
    50% {
      bottom: 20px;
      animation-timing-function: ease-in;
    }
  }

.home-page {
    // tagline starts here
    .tagline {
        font-family: $FONT;
        padding-top: 75px;
        padding-bottom: 75px;
        background-color: #265b7d;
        .tagline_container.container {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            padding-top: 10vw;
            padding-bottom: 10vw;
            img {
                width: 30%;
                height: auto;
                margin: auto;
                padding-bottom: 15px;
            }
            h1 {
                margin-top: 20px;
                padding: 10px 0 20px;
                font-size: 4vw;
                color: #fff;
                font-weight: 400;
            }
            p {
                margin-top: 20px;
                font-family: $FONT;
                color: #fff;
                font-size: 2vw;
                font-weight: 400;
            }
            .outer {
                position: relative;
                top: 12vw;
                left: 47%;
                .bouncing {
                    position: absolute;
                    -webkit-animation-name: bounce;
                    -webkit-animation-iteration-count: infinite;
                    -webkit-animation-duration: 2s;
                    animation-name: bounce;
                    animation-iteration-count: infinite;
                    animation-duration: 2s;
                    .glyphicon {
                        color: #ffffff;
                        font-size: 5vw;
                    }
                }
            }
        }
    }
    .team {
        font-family: $FONT;
        background: url(../img/group.jpg) no-repeat center center;
        background-size: cover;
        height: 57vw;
        .team-region {
            *zoom: 1;
            text-align: right;
            padding-top: 42vw;
            .heading {
                *zoom: 1;
                margin-bottom: 55px;
                h1 {
                    color: #1C9099;
                    font-weight: 400;
                    font-size: 4vw;
                }
                h3 {
                    padding-top: 2vw;
                    color: #ffffff;
                    font-size: 2vw;
                    font-weight: 300;
                    font-family: $FONT;
                }
            }
        }
    }
    // about us section starts here
    .about-list {
        font-family: $FONT;
        .aboutlist_container {
            *zoom: 1;
            display: block;
            margin: 0 auto;
            p {
                color: #888;
                font-size: 1em;
                font-weight: 400;
                line-height: 2.3em;
                text-align: justify;
                a {
                    color: #78b7bb;
                }
            }
            h4 {
                color: #484652;
                font-weight: 300;
                font-size: 1.5em;
                padding: 0.3em 0 0.5em 0;
            }
            img {
                width: 45px;
                height: auto;
                display: block;
                float: left;
                margin-right: 10px;
            }
            .top-row {
                *zoom: 1;
                #topOne {
                    padding: 9vw 5vw 9vw 9vw;
                }
                #topTwo {
                    padding: 9vw 9vw 9vw 5vw;
                }
            }
        }
    }
    //branch logos section here
    .brands {
        font-family: $FONT;
        background-color: #78b7bb;
        .logo-region {
            margin: 0 auto;
            padding: 100px 0 50px;
            .brand-logos {
                .hapi {
                    img {
                        width: 100px;
                        height: auto;
                        padding-bottom: 50px;
                    }
                }
                .javascript {
                    img {
                        width: 100px;
                        height: auto;
                        padding-bottom: 50px;
                    }
                }
                .nodejs {
                    img {
                        width: 100px;
                        height: auto;
                        padding-bottom: 50px;
                    }
                }
                .sass {
                    img {
                        width: 100px;
                        height: auto;
                        padding-bottom: 50px;
                    }
                }
                .d3 {
                    img {
                        width: 100px;
                        height: auto;
                        padding-bottom: 50px;
                    }
                }
                .ctu {
                    img {
                        width: 100px;
                        height: auto;
                        padding-bottom: 50px;
                    }
                }
            }
        }
    }
}


.home-page .team .heading:after,.home-page .team .heading:before {
    display: table;
    line-height: 0;
    content: ""
}

.home-page .team .heading:after {
    clear: both
}

.home-page .team .team-region:after,.home-page .team .team-region:before {
    display: table;
    line-height: 0;
    content: ""
}

.home-page .team .team-region:after {
    clear: both
}

.home-page .team .team-region .special {
    font-size: 1em;
    font-weight: 300;
    color: #78b7bb
}

.home-page .team .the-team {
    *zoom: 1;
    background-image: url(/img/image_map.png);
    padding: 20px 0;
    background-repeat: no-repeat;
    background-position: left center;
    width: 95%;
    max-width: 1100px;
    margin: 0 auto
}

.home-page .team .the-team:after,.home-page .team .the-team:before {
    display: table;
    line-height: 0;
    content: ""
}

.home-page .team .the-team:after {
    clear: both
}

.home-page .team .the-team .map {
    *zoom: 1;
    background-image: url(/img/image_map.png);
    height: 376px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%
}

.home-page .team .the-team .map:after,.home-page .team .the-team .map:before {
    display: table;
    line-height: 0;
    content: ""
}

.home-page .team .the-team .map:after {
    clear: both
}

.home-page .team .the-team .map.mobile {
    display: none
}

.home-page .team .the-team .two-column {
    width: 55%;
    padding-left: 5%;
    float: right
}

.home-page .team .the-team .two-column .column {
    float: left;
    width: 50%
}

.home-page .team .the-team .two-column a.mobile {
    display: none
}

.home-page .team .the-team .two-column .team-member {
    *zoom: 1;
    width: 100%;
    color: #fff;
    padding: 20px 0
}

.home-page .team .the-team .two-column .team-member:after,.home-page .team .the-team .two-column .team-member:before {
    display: table;
    line-height: 0;
    content: ""
}

.home-page .team .the-team .two-column .team-member:after {
    clear: both
}

.home-page .team .the-team .two-column .team-member .photo {
    height: 77px;
    width: 77px;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    -webkit-transition: -webkit-filter 1000ms ease-in;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(0.8)
}

.home-page.loading .loading-overlay-container {
    display: block
}

.home-page .loading-overlay-container {
    display: none
}

.home-page .loading-overlay-container .loading-overlay {
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8)
}

.home-page .loading-overlay-container .loading-text {
    position: fixed;
    top: 47%;
    left: 47%;
    z-index: 100
}

.home-page .loading-overlay-container .loading-text .spinner {
    float: left
}

.home-page .loading-overlay-container .loading-text span {
    float: left;
    font-size: 1.2em;
    font-weight: 300;
    color: #fff;
    width: 10%
}

.home-page.mobile-nav-expanded .topbar .topbar-region.container .nav-menu {
    display: block
}

.portfolio {
    display: none;
    font-family: $FONT;
    background-color: #FFF;
    width: 100%
}

.portfolio .container {
    width: 70%;
    margin: auto;
    max-width: 1000px
}

.portfolio h1 {
    font-size: 2em;
    font-weight: 300
}

.portfolio h2 {
    padding: 15px 0 50px;
    font-family: $FONT;
    font-size: 1.8em;
    font-weight: 300;
    color: #809ba4
}

.portfolio h4 {
    color: #484652;
    padding-bottom: 25px;
    font-size: 1.4em;
    font-weight: 300
}

.portfolio p {
    font-size: 14px;
    font-weight: 400;
    line-height: 2
}

.portfolio a {
    color: #78b7bb
}

.portfolio a:hover {
    color: #809ba4;
    transition: color 250ms
}

.portfolio .topbar {
    padding: 0 0 10px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    opacity: 1
}

.portfolio .topbar .portfolio-page-nav {
    width: 100%
}

.portfolio .topbar .container {
    width: 90%;
    max-width: 1000px
}

.portfolio .topbar .container div,.portfolio .topbar .container img {
    display: inline-block
}

.portfolio .topbar .container .logo {
    width: 150px;
    height: auto;
    display: block;
    float: left;
    padding-top: 30px
}

.portfolio .topbar .container .nav-icons {
    float: right;
    user-select: none
}

.portfolio .topbar .container .nav-icons img {
    width: 27px;
    height: auto;
    display: inline;
    margin-top: 30px;
    padding: 0 6px;
    user-select: none
}

.portfolio .topbar .container .nav-icons .arrows {
    padding-right: 10px;
    cursor: pointer;
    user-select: none
}

.portfolio .topbar .container .nav-icons .arrows img {
    width: 15px;
    height: auto;
    user-select: none
}

.portfolio .portfolio-heading {
    text-align: center;
    padding-top: 75px
}

.portfolio .portfolio-header-image {
    width: 100%;
    height: auto;
    margin: auto
}

.portfolio .portfolio-two-column {
    *zoom: 1;
    padding: 50px 0
}

.portfolio .portfolio-two-column:after,.portfolio .portfolio-two-column:before {
    display: table;
    line-height: 0;
    content: ""
}

.portfolio .portfolio-two-column:after {
    clear: both
}

.portfolio .portfolio-two-column .column {
    color: #888;
    padding: 0;
    width: 45%;
    float: left
}

.portfolio .portfolio-two-column .column.left-column {
    padding-right: 5%
}

.portfolio .portfolio-two-column .column.right-column {
    padding-left: 5%
}

.portfolio .photo-square.portfolio-two-column {
    *zoom: 1;
    width: 100%;
    margin: auto;
    padding: 25px 0 75px
}

.portfolio .photo-square.portfolio-two-column:after,.portfolio .photo-square.portfolio-two-column:before {
    display: table;
    line-height: 0;
    content: ""
}

.portfolio .photo-square.portfolio-two-column:after {
    clear: both
}

.portfolio .photo-square.portfolio-two-column .column {
    width: 49%
}

.portfolio .photo-square.portfolio-two-column .column.left-column {
    padding-right: 1%
}

.portfolio .photo-square.portfolio-two-column .column.right-column {
    padding-left: 1%
}

.portfolio .photo-square.portfolio-two-column .photo-square-top {
    *zoom: 1
}

.portfolio .photo-square.portfolio-two-column .photo-square-top:after,.portfolio .photo-square.portfolio-two-column .photo-square-top:before {
    display: table;
    line-height: 0;
    content: ""
}

.portfolio .photo-square.portfolio-two-column .photo-square-top:after {
    clear: both
}

.portfolio .photo-square.portfolio-two-column .photo-square-bottom {
    *zoom: 1;
    margin-top: 2%
}

.portfolio .photo-square.portfolio-two-column .photo-square-bottom:after,.portfolio .photo-square.portfolio-two-column .photo-square-bottom:before {
    display: table;
    line-height: 0;
    content: ""
}

.portfolio .photo-square.portfolio-two-column .photo-square-bottom:after {
    clear: both
}

.portfolio .photo-square.portfolio-two-column img {
    width: 100%;
    height: auto
}

.portfolio .mid-description {
    text-align: center
}

.portfolio .preview-image-tall {
    width: 100%;
    height: auto;
    margin-bottom: 75px
}

.close,.left-arrow,.right-arrow {
    display: inline-block
}

.portfolio-view {
    width: 100%
}

.portfolio-carousel {
    position: relative
}

.contact {
    font-family: $FONT;
    background-color: #282732
}

.contact .container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto
}

.contact h1 {
    color: #fff;
    font-size: 2em;
    padding-bottom: 5px;
    font-weight: 300
}

.contact h3 {
    color: #78b7bb;
    font-size: 1.5em;
    font-weight: 300;
    font-family: $FONT;
    line-height: 1.2
}

.contact .contact-region {
    text-align: center;
    padding: 75px 0 60px
}

.contact .contact-region .container {
    max-width: 85%
}

.contact .form-heading {
    padding-bottom: 30px
}

.contact .contact-form {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 20px 0;
    position: relative;
    z-index: 1
}

.contact .contact-form form {
    *zoom: 1
}

.contact .contact-form form:after,.contact .contact-form form:before {
    display: table;
    line-height: 0;
    content: ""
}

.contact .contact-form form:after {
    clear: both
}

.contact .contact-form .form-column-1 {
    float: left;
    width: 8%
}

.contact .contact-form .form-column-1 li {
    display: block;
    text-align: left;
    height: 28px;
    padding: 7px 0 7px 3%;
    margin-bottom: 15px
}

.contact .contact-form .form-column-1 li.last {
    margin-bottom: 0
}

.contact .contact-form .form-column-2 {
    float: left;
    width: 44%;
    margin-right: 1%;
    height: 250px
}

.contact .contact-form .form-column-2 .form-input {
    width: 100%;
    text-align: right
}

.contact .contact-form .form-column-3 {
    float: right;
    width: 46%;
    margin-left: 1%;
    text-align: right
}

.contact .contact-form .form-button {
    user-select: none;
    background-color: #e7a844;
    color: #282732;
    text-transform: uppercase;
    margin-top: 15px;
    font-weight: 700;
    padding: 12px;
    font-family: $FONT;
    font-size: 1.1em;
    z-index: 5;
    position: relative;
    width: 34%;
    border: none;
    border-radius: 5px;
    text-align: center;
    float: right;
    height: 25px;
    cursor: pointer
}

.contact .contact-form .form-button:hover {
    color: #fff;
    transition: all .25s
}

.contact .contact-form .form-button-loading {
    height: 20px;
    width: 40px;
    margin: 4px auto 0
}

.contact .contact-form .contact-spinner {
    display: none;
    height: 40px
}

.contact .contact-form .select-box,.contact .contact-form input,.contact .contact-form textarea {
    padding: 7px 0 7px 3%
}

.contact .contact-form select {
    padding-top: 4px
}

.contact .contact-form .select-box,.contact .contact-form input,.contact .contact-form select,.contact .contact-form textarea {
    color: #fff;
    background-color: #363342;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 300;
    display: block
}

.contact .contact-form ::-webkit-input-placeholder {
    color: #fff;
    opacity: .3
}

.contact .contact-form :-moz-placeholder {
    color: #fff;
    opacity: .3
}

.contact .contact-form ::-moz-placeholder {
    color: #fff;
    opacity: .3
}

.contact .contact-form :-ms-input-placeholder {
    color: #fff;
    opacity: .3
}

.contact .contact-form .form-column-2 .select-box,.contact .contact-form .form-column-2 input {
    width: 96%;
    height: 26px;
    margin: 0 auto 15px;
    max-width: 450px;
    border: 1px solid #363342
}

.contact .contact-form .form-column-2 .select-box:focus,.contact .contact-form .form-column-2 input:focus {
    border: 1px solid #78b7bb
}

.contact .contact-form .form-column-2 .select-box {
    overflow: hidden;
    background: #363342 url(/img/arrow_down.png) no-repeat 95% center;
    background-size: 15px
}

.contact .contact-form .form-column-2 .select-box select {
    padding-left: 0;
    width: 100%;
    font-family: $FONT;
    background: 0 0;
    appearance: none;
    text-indent: .01px;
    text-overflow: '';
    border: 1px solid #363342
}

.contact .contact-form .form-column-2 .select-box select:focus .select-box {
    border: 1px solid #78b7bb
}

.contact .contact-form .form-column-2 .select-box select option {
    background-color: #363342
}

.contact .contact-form .form-column-2 .select-box select::-ms-expand {
    display: none
}

.contact .contact-form .form-column-2 .select-label {
    display: block;
    padding-top: 11px;
    padding-right: 0;
    padding-left: 8px
}

.contact .contact-form .hunny {
    display: none
}

.contact .contact-form .form-input {
    clear: both
}

.contact .contact-form .ie-form {
    display: none
}

.contact .contact-form textarea {
    width: 96%;
    height: 254px;
    max-width: 450px;
    border: 1px solid #363342
}

.contact .contact-form textarea:focus {
    border: 1px solid #78b7bb
}

.contact .contact-form form label {
    color: #fff;
    padding-right: 2%;
    font-family: $FONT;
    font-size: .8em
}

.contact .input-error-message,.contact .internal-error-message,.contact .success-message {
    font-family: $FONT;
    background-color: #000;
    width: 68%;
    margin: auto;
    display: none
}

.contact .internal-error-message {
    position: absolute;
    bottom: 28px;
    right: 2%;
    z-index: 1;
    width: 96%
}

.contact .input-error-message,.contact .internal-error-message {
    color: #ff9519;
    font-family: $FONT;
    padding: 5px
}

.contact .success-message {
    color: #78b7bb;
    font-size: 1.2em;
    padding: 4px;
    *zoom: 1;
    margin-top: 25px;
    width: 89%;
    float: right;
    margin-right: 1%
}

.contact .success-message:after,.contact .success-message:before {
    display: table;
    line-height: 0;
    content: ""
}

.contact .success-message:after {
    clear: both
}

.contact.input-error-email .input-error-message.email-error {
    display: block
}

.contact.input-error-email label.email {
    color: #ff9519!important
}

.contact.input-error-email #email {
    background-color: #423333;
    color: #ff9519;
    border: 1px solid #423333
}

.contact.input-error-name .input-error-message.name-error {
    display: block
}

.contact.input-error-name label.name {
    color: #ff9519!important
}

.contact.input-error-name #name {
    background-color: #423333;
    color: #ff9519;
    border: 1px solid #423333
}

.contact.multiple-input-errors .input-error-message.multiple-errors {
    display: block
}

.contact.multiple-input-errors label.email,.contact.multiple-input-errors label.name {
    color: #ff9519
}

.contact.multiple-input-errors #email,.contact.multiple-input-errors #name {
    background-color: #423333;
    color: #ff9519;
    border: 1px solid #423333
}

.contact.internal-error .internal-error-message,.contact.loading .contact-spinner {
    display: block
}

.contact.loading .submit-message {
    display: none
}

.contact.success .success-message {
    display: block;
    font-family: $FONT;
    padding: 5px
}

.contact.success .form-button {
    display: none
}

#projectInfo {
    resize: none
}

.footer {
    font-family: $FONT;
    background-color: #24222c
}

.footer .footer-region {
    color: #fff;
    padding: 30px 0 50px;
    font-family: $FONT;
    text-align: center
}

.footer .footer-region span {
    color: #78b7bb;
    font-weight: 400
}

.footer .social {
    display: table;
    margin: 0 auto
}

.footer .social ul {
    padding-top: 20px;
    position: relative
}

.footer .social ul li {
    display: inline;
    float: left
}

.footer .social ul li img {
    width: 30px;
    padding: 0 2px;
    opacity: 0
}

.footer .social ul li:hover img {
    opacity: 1
}

.footer .social ul li .facebook {
    padding: 0 1px 0 3px
}

.footer .social ul .dribbble-color,.footer .social ul .dribbble-icon,.footer .social ul .facebook-color,.footer .social ul .facebook-icon,.footer .social ul .linkedin-color,.footer .social ul .linkedin-icon,.footer .social ul .twitter-color,.footer .social ul .twitter-icon {
    width: 40px;
    height: 32px;
    padding: 1px 1px 0 0;
    position: absolute;
    top: 8px;
    -webkit-transition: -webkit-filter 1000ms ease-in;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(0.8);
    opacity: .6
}

.footer .social ul .dribbble-color:hover,.footer .social ul .dribbble-icon:hover,.footer .social ul .facebook-color:hover,.footer .social ul .facebook-icon:hover,.footer .social ul .linkedin-color:hover,.footer .social ul .linkedin-icon:hover,.footer .social ul .twitter-color:hover,.footer .social ul .twitter-icon:hover {
    filter: none;
    transition: filter 1000ms ease-in;
    opacity: 1
}

.footer .social ul .facebook-color {
    background-image: url(/img/icon_facebook_color.png);
    background-repeat: no-repeat;
    background-position: center center;
    right: 40px
}

.footer .social ul .twitter-color {
    background-image: url(/img/icon_twitter_color.png);
    background-repeat: no-repeat;
    background-position: center center;
    right: 0
}

.footer .social ul .dribbble-color {
    background-image: url(/img/icon_dribbble_color.png);
    background-repeat: no-repeat;
    background-position: center center;
    left: 40px
}

.footer .social ul .linkedin-color {
    background-image: url(/img/icon_linkedIn_color.png);
    background-repeat: no-repeat;
    background-position: center center
}

.process-page {
    display: none;
    font-family: $FONT;
}

.process-page .topbar {
    padding: 0 0 10px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    opacity: 1
}

.process-page .topbar .process-page-nav {
    width: 100%
}

.process-page .topbar .container {
    width: 90%;
    max-width: 1000px
}

.process-page .topbar .container div,.process-page .topbar .container img {
    display: inline-block
}

.process-page .topbar .container .logo {
    width: 150px;
    height: auto;
    display: block;
    float: left;
    padding-top: 30px
}

.process-page .topbar .container .nav-icons {
    float: right;
    user-select: none
}

.process-page .topbar .container .nav-icons img {
    width: 27px;
    height: auto;
    display: inline;
    padding: 30px 6px 0;
    user-select: none
}

.process-page .topbar .container .nav-icons .arrows {
    padding-right: 10px;
    user-select: none
}

.process-page .topbar .container .nav-icons .arrows img {
    width: 15px;
    height: auto;
    user-select: none
}

.process-page .container {
    width: 100%;
    margin: auto
}

.process-page .process-heading {
    padding: 75px 0;
    background: #27285a;
    h1 {
    font-size: 32px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    }
    h2 {
    font-weight: 300;
    color: #78b7bb;
    text-align: center;
    padding-top: 0;
    font-size: 22px;
    font-family: $FONT;
    margin: 5% 10%;
    }
    .process-img {
    display: block;
    width: 100%;
    max-width: 575px;
    margin: 0 auto;
    }
}

.process-page .step-one .container {
    width: 100%;
}

.process-page .step-one {
    background-color: #75ad74;
    .text-container-one {
        position: absolute;
        width: 50%;
        margin: auto;
        float: left;
        height: 50%;
        line-height: 100%;
        p {
            position: absolute;
            top: 90px;
            left: 90px;
            float: left;
            vertical-align: middle;
            line-height: 2;
            color: #F7F2E0;
            font-weight: 300;
            font-family: $FONT;
            width: 90%;
        }
        span {
            font-size: 200%;
            line-height: 50%;
            color: #ffffff;
        }
    }
    .image-container-one {
        display: inline-block;
        width: 50%;
        margin-left: 45%;
        img {
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 70%;
        }
    }
}

.process-page .step-two {
    padding-top: 75px;
    background-color: #006b68;
    .container {
        width: 60%;
    }
    h1 {
        font-size: 32px;
        font-weight: 300;
        color: #75ad74;
        text-align: center;
        padding-bottom: 20px;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 2;
        color: #F7F2E0;
        text-align: center;
        font-weight: 300;
    }
    img {
        width: 100%;
        height: auto;
        max-width: 900px;
        margin: auto;
        padding: 5%;
        border-radius: 40px;
    }
}

.process-page .step-one h1,.process-page .step-six h1 {
    font-size: 32px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding-bottom: 20px
}

.process-page .step-one p,.process-page .step-six p {
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    color: #d3ceea;
    text-align: center;
    padding-top: 0;
}

.process-page .step-three {
    background: #265b78;
    padding-left: 15%
}

.process-page .step-three .container {
    padding: 250px 0;
    width: 25%;
    margin-left: 0;
    float: left
}

.process-page .step-three img {
    float: left;
    width: 75%;
    height: auto;
    max-width: 1200px;
    padding: 180px 0 5%
}

.process-page .step-three h1 {
    font-size: 32px;
    font-weight: 300;
    color: #6af2f5;
    padding-bottom: 15px
}

.process-page .step-three p {
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    color: #fff
}

.process-page .step-four {
    padding-left: 15%
}

.process-page .step-four .container {
    padding: 150px 0;
    width: 30%;
    margin-left: 0;
    float: left
}

.process-page .step-four h1 {
    font-size: 32px;
    font-weight: 300;
    color: #484652;
    padding-bottom: 15px
}

.process-page .step-four img {
    float: left;
    width: 70%;
    height: auto;
    max-width: 1200px;
    padding: 120px 0 5%
}

.process-page .step-four p {
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    color: #809ba4
}

.process-page .step-four li {
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    color: #809ba4;
    padding: 5px 20px;
    background: url(/img/icon_check.jpg) no-repeat left;
    background-size: 17px
}

.process-page .step-five {
    background-color: #f1f2f2
}

.process-page .step-five .container {
    padding: 100px 400px 100px 15%;
    width: 95%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative
}

.process-page .step-five img {
    float: left;
    width: 350px;
    height: auto;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    right: 0
}

.process-page .step-five h1 {
    font-size: 32px;
    font-weight: 300;
    color: #463f60;
    width: 50%;
    padding-bottom: 15px
}

.process-page .step-five p {
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    color: #888;
    width: 100%
}

.process-page .step-six {
    background: #514a6e url(/img/icon_test.png) no-repeat center 110px;
    background-size: 120px
}

.process-page .step-six .container {
    width: 60%
}

.process-page .conclusion {
    padding: 100px 0;
    text-align: center;
    background: #463f60
}

.process-page .conclusion .container {
    width: 60%
}

.process-page .conclusion p {
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    color: #d3ceea;
    padding-bottom: 25px
}

.process-page .conclusion .closing {
    color: #f1f2f2;
    font-size: 1.3em;
    font-weight: 300;
    width: 75%;
    margin: auto;
    padding-bottom: 40px;
    line-height: 1.3;
    font-family: $FONT;
}

.process-page .conclusion .superhero {
    width: 120px;
    height: auto;
    margin: auto
}

.process-page .conclusion .arrow-container {
    position: relative;
    width: 100px;
    margin: auto
}

.process-page .conclusion .arrow-container .arrow {
    position: absolute;
    bottom: -132px;
    left: 14px
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

html.no-fixed .home-page .topbar {
    position: static!important
}
