@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, html {
  text-align: left;
  font-size: 1em;
  z-index: 1;
}

body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, img, input, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

li, ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
}
a img {
  border: none;
}

:active, :focus {
  outline: 0;
  -moz-outline-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

div.clear {
  clear: both;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.navbar-default {
  position: fixed;
  width: 100%;
  z-index: 1;
  border-radius: 0;
  background-color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
}
.navbar-default .collapsed {
  text-decoration: none;
  padding: 0;
  border: none;
  box-shadow: none;
}
.navbar-default .collapsed .navtoggleimg {
  height: auto;
  width: 40px;
  text-decoration: none;
}
.navbar-default .navtoggleimg {
  height: auto;
  width: 30px;
  text-decoration: none;
  padding: 0;
  border: none;
  box-shadow: none;
}
.navbar-default .navbar-brand {
  padding: 0px 15px;
  margin-top: 2vh;
  font-size: 20px;
  color: #265b7d;
  height: 100%;
}
.navbar-default .navbar-collapse {
  background-color: #ffffff;
  width: 50%;
  float: right;
}
.navbar-default .navbar-collapse .navbar-li a {
  padding: 0px 15px;
  margin-top: 2vh;
  font-size: 16px;
  color: #265b7d;
}

.kickstarter {
  height: 125vh;
  background-color: #27285a;
  background: url(../img/group.jpg) no-repeat center center;
  background-size: cover;
}
.kickstarter .overlay {
  background-color: rgba(0, 0, 0, 0.65);
  height: 125vh;
}
.kickstarter .share_box {
  position: fixed;
  width: 50px;
  top: 50px;
  padding: 15px;
  z-index: 1;
}
.kickstarter .share_box a:hover {
  text-decoration: none;
}
.kickstarter .share_box .button {
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  width: 160px;
  font-family: "Arial Black", Gadget, sans-serif;
}
.kickstarter .share_box .ksbutton {
  color: #343433;
  background-color: #ffffff;
  border: 2px #70a83b solid;
}
.kickstarter .share_box .ksbutton span {
  color: #70a83b;
}
.kickstarter .container {
  padding-top: 38vh;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  text-decoration: none;
}
.kickstarter .container h1 {
  font-size: 4.4vmax;
  color: #ffffff;
  padding-bottom: 10px;
}
.kickstarter .container h3 {
  font-size: 1.75vmax;
  font-weight: 300;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 1px;
}
.kickstarter .container a {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  font-weight: 300;
  color: #ffffff;
}
.kickstarter .container a button {
  border: 1px solid #888;
  background: #0776C0;
  padding: 6.5px 18px 11px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 3px;
  text-shadow: #000000 0 1px 0;
  color: #ffffff;
  font-size: 2vmax;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  vertical-align: middle;
  margin-top: 2%;
}
.kickstarter .container a button:hover {
  border: 1px solid #0a3c59;
  text-shadow: #1e4158 0 1px 0;
  background: #3e779d;
  color: #fff;
}
.kickstarter .container a button:active {
  text-shadow: #1e4158 0 1px 0;
  border: 1px solid #0a3c59;
  background: #65a9d7;
  color: #fff;
}
.kickstarter .container p {
  font-size: 1.4vmax;
  margin-top: 20px;
  padding-bottom: 20px;
  font-weight: 300;
  margin-right: 10%;
  margin-left: 10%;
  color: #ffffff;
  letter-spacing: 2.5px;
}
.kickstarter .container div {
  display: inline-block;
  margin-top: 0.5em;
  margin-right: auto;
  margin-left: auto;
}
.kickstarter .container div div {
  margin-right: 1vw;
}
.kickstarter .container div div p {
  font-size: 1.5vmax;
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
  font-weight: bold;
  padding-bottom: 5px;
}
.kickstarter .container div div a {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.kickstarter .container div div a #twitterlogo {
  height: 30px;
  margin-right: 10px;
}
.kickstarter .container div div a #facebooklogo {
  height: 30px;
  margin-right: 15px;
}

@-webkit-keyframes bounce {
  from, to {
    bottom: 0;
    -webkit-animation-timing-function: ease-out;
  }
  50% {
    bottom: 20px;
    -webkit-animation-timing-function: ease-in;
  }
}
@keyframes bounce {
  from, to {
    botttom: 0;
    animation-timing-function: ease-out;
  }
  50% {
    bottom: 20px;
    animation-timing-function: ease-in;
  }
}
.home-page .hireUs {
  float: right;
}
.home-page .hireUs img {
  width: 25vw;
  height: auto;
}
.home-page .tagline {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #265b7d;
}
.home-page .tagline .tagline_container.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 12vw;
  padding-bottom: 15vw;
}
.home-page .tagline .tagline_container.container img {
  margin-left: 18%;
  width: 20%;
  height: auto;
  padding-bottom: 15px;
  text-shadow: 2px 2px 0px #969696;
}
.home-page .tagline .tagline_container.container h1 {
  padding: 10px 0 20px;
  font-size: 4vw;
  color: #fff;
  font-weight: 400;
  letter-spacing: 5px;
}
.home-page .tagline .tagline_container.container p {
  margin-top: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-size: 2vw;
  font-weight: 400;
  letter-spacing: 0.8px;
}
.home-page .tagline .tagline_container.container .outer {
  position: relative;
  top: 9.5vw;
  left: 47%;
}
.home-page .tagline .tagline_container.container .outer .bouncing {
  position: absolute;
  -webkit-animation-name: bounce;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.home-page .tagline .tagline_container.container .outer .bouncing .glyphicon {
  color: #ffffff;
  font-size: 5vw;
}
.home-page .team {
  font-family: "Source Sans Pro", sans-serif;
  background: url(../img/group.jpg) no-repeat center center;
  background-size: cover;
  height: 110vh;
}
.home-page .team .team-region {
  *zoom: 1;
  text-align: center;
  padding-top: 60vh;
  padding-bottom: 30vh;
}
.home-page .team .team-region .heading {
  *zoom: 1;
}
.home-page .team .team-region .heading .heading-text-container {
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  padding-right: 1%;
  padding-left: 1%;
  margin-top: -3%;
}
.home-page .team .team-region .heading h1 {
  font-align: center;
  color: #1C9099;
  font-weight: 400;
  font-size: 3vw;
}
.home-page .team .outer {
  position: relative;
  top: 20vw;
  left: 47%;
}
.home-page .team .outer .bouncing {
  position: absolute;
  -webkit-animation-name: bounce;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.home-page .team .outer .bouncing .glyphicon {
  color: #ffffff;
  font-size: 5vw;
}
.home-page .about-list {
  font-family: "Source Sans Pro", sans-serif;
}
.home-page .about-list .aboutlist_container {
  height: 100vh;
  *zoom: 1;
  display: block;
  margin: 0 auto;
}
.home-page .about-list .aboutlist_container p {
  color: #888;
  font-size: 1em;
  font-weight: 400;
  line-height: 2.3em;
  text-align: justify;
}
.home-page .about-list .aboutlist_container p a {
  color: #78b7bb;
}
.home-page .about-list .aboutlist_container h4 {
  color: #484652;
  font-weight: bold;
  font-size: 1.5em;
}
.home-page .about-list .aboutlist_container img {
  width: 45px;
  height: auto;
  display: block;
  float: left;
  margin-right: 10px;
}
.home-page .about-list .aboutlist_container .container {
  margin-top: 5%;
  *zoom: 1;
}
.home-page .about-list .aboutlist_container .container .triptych {
  padding: 0vw 2.5vw 2vw;
}
.home-page .about-list .aboutlist_container .container .triptych p {
  padding-top: 5%;
}
.home-page .about-list .aboutlist_container .h4-givebBackToTheCommunity {
  font-weight: bold;
  padding-bottom: 5px;
}
.home-page .brands {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #78b7bb;
}
.home-page .brands .logo-region {
  margin: 0 auto;
  padding: 100px 0 50px;
}
.home-page .brands .logo-region .brand-logos .hapi img {
  width: 100px;
  height: auto;
  padding-bottom: 50px;
}
.home-page .brands .logo-region .brand-logos .javascript img {
  width: 100px;
  height: auto;
  padding-bottom: 50px;
}
.home-page .brands .logo-region .brand-logos .nodejs img {
  width: 100px;
  height: auto;
  padding-bottom: 50px;
}
.home-page .brands .logo-region .brand-logos .sass img {
  width: 100px;
  height: auto;
  padding-bottom: 50px;
}
.home-page .brands .logo-region .brand-logos .d3 img {
  width: 100px;
  height: auto;
  padding-bottom: 50px;
}
.home-page .brands .logo-region .brand-logos .ctu img {
  width: 100px;
  height: auto;
  padding-bottom: 50px;
}

.contact {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #282732;
}
.contact .contact-region {
  text-align: center;
  padding: 75px 0;
}
.contact .contact-region .container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}
.contact .contact-region h1 {
  color: #fff;
  font-size: 2em;
  padding-bottom: 5px;
  font-weight: 400;
}
.contact .contact-region h3 {
  color: #6FC9D0;
  font-size: 1.5em;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.2;
}
.contact .contact-region hr {
  width: 25%;
}
.contact .contact-region p {
  color: #FFF;
  font-size: 1.2em;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 2px;
}
.contact .contact-region img {
  width: 50px;
  height: auto;
  margin: 10px;
}

.process-page {
  font-family: "Source Sans Pro", sans-serif;
}
.process-page .process-heading {
  height: 100%;
  background: #27285a;
}
.process-page .process-heading .row {
  padding-top: 10vw;
  text-align: center;
}
.process-page .process-heading .row h1 {
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 1em;
}
.process-page .process-heading .row h2 {
  font-weight: 300;
  color: #78b7bb;
  padding-top: 0;
  font-size: 22px;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 10%;
}
.process-page .step-one {
  height: 100%;
  background-color: #75ad74;
  width: 100%;
  text-align: center;
}
.process-page .step-one .text {
  margin-top: 12vw;
}
.process-page .step-one h1 {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
.process-page .step-one p {
  margin-top: 2vw;
  margin-bottom: 12vw;
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  color: #d3ceea;
  text-align: center;
  color: #F7F2E0;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
}
.process-page .step-one img {
  width: 100%;
  margin: 5vw;
  margin-top: 13em;
}
.process-page .step-two {
  height: 100%;
  background-color: #006b68;
  padding-bottom: 40px;
}
.process-page .step-two h1 {
  margin-top: 5vw;
  font-size: 40px;
  font-weight: 400;
  color: #75ad74;
  text-align: center;
  padding-bottom: 20px;
}
.process-page .step-two p {
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  color: #F7F2E0;
  text-align: center;
  font-weight: 300;
}
.process-page .step-two .mentor-wrapper {
  height: 285px;
}
.process-page .step-two .mentor-wrapper img {
  min-width: 100%;
  min-height: 100%;
}

.student-page {
  font-family: "Source Sans Pro", sans-serif;
}
.student-page .intro {
  height: 100vh;
  background: #27285a;
}
.student-page .intro .row {
  padding-top: 30vh;
  text-align: center;
}
.student-page .intro .row h1 {
  font-size: 60px;
  font-weight: 400;
  color: #fff;
}
.student-page .intro .row h2 {
  font-weight: 300;
  color: #78b7bb;
  padding-top: 3em;
  font-size: 22px;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 10%;
}
.student-page .about-brief {
  height: 100vh;
  background-color: #75ad74;
  width: 100%;
  text-align: center;
}
.student-page .about-brief .course {
  margin-top: 12vw;
  padding: 0 50px;
}
.student-page .about-brief .course .icon {
  width: 75px;
  margin-bottom: 50px;
}
.student-page .about-brief .course h1 {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}
.student-page .about-brief .course p {
  margin-top: 2vw;
  margin-bottom: 12vw;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #d3ceea;
  color: #F7F2E0;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
}
.student-page .after-course {
  height: 100vh;
  background-color: #006b68;
  padding-bottom: 40px;
  text-align: left;
}
.student-page .after-course .profit {
  padding: 0 50px;
}
.student-page .after-course .profit h1 {
  margin-top: 5vw;
  font-size: 40px;
  font-weight: 400;
  color: #75ad74;
  text-align: left;
  padding-bottom: 20px;
}
.student-page .after-course .profit p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #F7F2E0;
  font-weight: 300;
}
.student-page .schedule {
  height: 100vh;
}

/*# sourceMappingURL=main.css.map */
