@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, html {
  text-align: left;
  font-size: 1em;
  overflow-x: hidden;
  z-index: 1;
}

body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, img, input, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

li, ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
}
a img {
  border: none;
}

:active, :focus {
  outline: 0;
  -moz-outline-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

div.clear {
  clear: both;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.animating-in {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sliding-in-left {
  position: absolute;
  left: 100%;
  top: 0;
}

.sliding-in-right {
  position: absolute;
  left: -100%;
  top: 0;
}

.sliding-out {
  position: relative;
  top: 0;
  left: 0;
}

.content-sliding {
  overflow-x: hidden;
}

.navbar-default {
  position: fixed;
  width: 100%;
  z-index: 1;
  border-radius: 0;
  background-color: #ffffff;
  height: 5vw;
  font-family: "Source Sans Pro", sans-serif;
}
.navbar-default .collapsed {
  text-decoration: none;
  padding: 0;
  border: none;
  box-shadow: none;
}
.navbar-default .collapsed .navtoggleimg {
  height: auto;
  width: 40px;
  text-decoration: none;
}
.navbar-default .navtoggleimg {
  height: auto;
  width: 30px;
  text-decoration: none;
  padding: 0;
  border: none;
  box-shadow: none;
}
.navbar-default .navbar-brand {
  padding: 0px 15px;
  margin-top: 2vw;
  font-size: 20px;
  color: #265b7d;
}
.navbar-default .navbar-collapse .navbar-li a {
  padding: 0px 15px;
  margin-top: 2.5vw;
  font-size: 16px;
  color: #265b7d;
}

@-webkit-keyframes bounce {
  from, to {
    bottom: 0;
    -webkit-animation-timing-function: ease-out;
  }
  50% {
    bottom: 20px;
    -webkit-animation-timing-function: ease-in;
  }
}
@keyframes bounce {
  from, to {
    botttom: 0;
    animation-timing-function: ease-out;
  }
  50% {
    bottom: 20px;
    animation-timing-function: ease-in;
  }
}
.home-page .tagline {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #265b7d;
}
.home-page .tagline .tagline_container.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 12vw;
  padding-bottom: 15vw;
}
.home-page .tagline .tagline_container.container img {
  width: 30%;
  height: auto;
  margin: auto;
  padding-bottom: 15px;
}
.home-page .tagline .tagline_container.container h1 {
  margin-top: 20px;
  padding: 10px 0 20px;
  font-size: 4vw;
  color: #fff;
  font-weight: 400;
}
.home-page .tagline .tagline_container.container p {
  margin-top: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-size: 2vw;
  font-weight: 400;
}
.home-page .tagline .tagline_container.container .outer {
  position: relative;
  top: 12vw;
  left: 47%;
}
.home-page .tagline .tagline_container.container .outer .bouncing {
  position: absolute;
  -webkit-animation-name: bounce;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.home-page .tagline .tagline_container.container .outer .bouncing .glyphicon {
  color: #ffffff;
  font-size: 5vw;
}
.home-page .team {
  font-family: "Source Sans Pro", sans-serif;
  background: url(../img/group.jpg) no-repeat center center;
  background-size: cover;
  height: 57vw;
}
.home-page .team .team-region {
  *zoom: 1;
  text-align: right;
  padding-top: 42vw;
}
.home-page .team .team-region .heading {
  *zoom: 1;
  margin-bottom: 55px;
}
.home-page .team .team-region .heading h1 {
  color: #1C9099;
  font-weight: 400;
  font-size: 4vw;
}
.home-page .team .team-region .heading h3 {
  padding-top: 2vw;
  color: #ffffff;
  font-size: 2vw;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
}
.home-page .about-list {
  font-family: "Source Sans Pro", sans-serif;
}
.home-page .about-list .aboutlist_container {
  *zoom: 1;
  display: block;
  margin: 0 auto;
}
.home-page .about-list .aboutlist_container p {
  color: #888;
  font-size: 1em;
  font-weight: 400;
  line-height: 2.3em;
  text-align: justify;
}
.home-page .about-list .aboutlist_container p a {
  color: #78b7bb;
}
.home-page .about-list .aboutlist_container h4 {
  color: #484652;
  font-weight: 300;
  font-size: 1.5em;
  padding: 0.3em 0 0.5em 0;
}
.home-page .about-list .aboutlist_container img {
  width: 45px;
  height: auto;
  display: block;
  float: left;
  margin-right: 10px;
}
.home-page .about-list .aboutlist_container .top-row {
  *zoom: 1;
}
.home-page .about-list .aboutlist_container .top-row #topOne {
  padding: 9vw 5vw 9vw 9vw;
}
.home-page .about-list .aboutlist_container .top-row #topTwo {
  padding: 9vw 9vw 9vw 5vw;
}
.home-page .brands {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #78b7bb;
}
.home-page .brands .logo-region {
  margin: 0 auto;
  padding: 100px 0 50px;
}
.home-page .brands .logo-region .brand-logos .hapi img {
  width: 100px;
  height: auto;
  padding-bottom: 50px;
}
.home-page .brands .logo-region .brand-logos .javascript img {
  width: 100px;
  height: auto;
  padding-bottom: 50px;
}
.home-page .brands .logo-region .brand-logos .nodejs img {
  width: 100px;
  height: auto;
  padding-bottom: 50px;
}
.home-page .brands .logo-region .brand-logos .sass img {
  width: 100px;
  height: auto;
  padding-bottom: 50px;
}
.home-page .brands .logo-region .brand-logos .d3 img {
  width: 100px;
  height: auto;
  padding-bottom: 50px;
}
.home-page .brands .logo-region .brand-logos .ctu img {
  width: 100px;
  height: auto;
  padding-bottom: 50px;
}

.contact {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #282732;
}
.contact .container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}
.contact h1 {
  color: #fff;
  font-size: 2em;
  padding-bottom: 5px;
  font-weight: 300;
}
.contact h3 {
  color: #78b7bb;
  font-size: 1.5em;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.2;
}
.contact .contact-region {
  text-align: center;
  padding: 75px 0;
}

.process-page {
  font-family: "Source Sans Pro", sans-serif;
}
.process-page .process-heading {
  height: 100%;
  background: #27285a;
}
.process-page .process-heading .row {
  padding-top: 10vw;
  text-align: center;
}
.process-page .process-heading .row h1 {
  font-size: 32px;
  font-weight: 300;
  color: #fff;
}
.process-page .process-heading .row h2 {
  font-weight: 300;
  color: #78b7bb;
  padding-top: 0;
  font-size: 22px;
  font-family: "Source Sans Pro", sans-serif;
}
.process-page .process-heading .row img {
  margin-top: 5vw;
  margin-bottom: 5vw;
  width: 100%;
}
.process-page .step-one {
  height: 100%;
  background-color: #75ad74;
  width: 100%;
  text-align: center;
}
.process-page .step-one .text {
  margin-top: 12vw;
}
.process-page .step-one h1 {
  font-size: 32px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
.process-page .step-one p {
  margin-top: 2vw;
  margin-bottom: 12vw;
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  color: #d3ceea;
  text-align: center;
  color: #F7F2E0;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
}
.process-page .step-one img {
  width: 100%;
  margin: 5vw;
}
.process-page .step-two {
  height: 100%;
  background-color: #006b68;
}
.process-page .step-two h1 {
  margin-top: 5vw;
  font-size: 32px;
  font-weight: 300;
  color: #75ad74;
  text-align: center;
  padding-bottom: 20px;
}
.process-page .step-two p {
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  color: #F7F2E0;
  text-align: center;
  font-weight: 300;
}
.process-page .step-two img {
  width: 100%;
  height: auto;
  max-width: 900px;
  margin: auto;
  padding: 5%;
  border-radius: 40px;
}
.process-page .step-three {
  background: #265b78;
  height: 100%;
}
.process-page .step-three .text {
  padding: 10vw 10vw 0 10vw;
}
.process-page .step-three h1 {
  font-size: 32px;
  font-weight: 300;
  color: #6af2f5;
  padding-bottom: 15px;
}
.process-page .step-three p {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  color: #fff;
  margin-bottom: 5vw;
}
.process-page .step-three .testingimgContainer {
  padding: 0px;
}
.process-page .step-three .testingimgContainer img {
  width: 100%;
  padding-top: 10vw;
  margin-right: -10px;
}

/*# sourceMappingURL=main.css.map */
