<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<img class="navtoggleimg" src="img/collapseImg.png"/>
			</button>

			<a class="navbar-brand" href="/">Founders & Coders web development</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="navbar-li">
					<a href="/#team">Who we are</a>
				</li>
				<li class="navbar-li">
					<a href="/how-we-work.html">How we work</a>
				</li>
				<li class="navbar-li">
					<a href="#contact">Get in Touch</a>
				</li>
				<li class="navbar-li">
					<a href="#contact">Hire Us</a>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>